<div class="calculator">
    <input type="text" [(ngModel)]="displayExpression" />
    <div class="tabs">
      <button (click)="setTab('numbers')" [class.active]="currentTab === 'numbers'">123</button>
      <button (click)="setTab('functions')" [class.active]="currentTab === 'functions'">f(x)</button>
      <button (click)="setTab('symbols')" [class.active]="currentTab === 'symbols'">#&¬</button>
    </div>
    <div class="buttons" *ngIf="currentTab === 'numbers'">
      <button *ngFor="let num of numbers" (click)="addSymbol(num)">{{ num }}</button>
    </div>
    <div class="buttons" *ngIf="currentTab === 'functions'">
      <button *ngFor="let func of functions" (click)="addSymbol(func.symbol)">{{ func.display }}</button>
    </div>
    <div class="buttons" *ngIf="currentTab === 'symbols'">
      <button *ngFor="let sym of symbols" (click)="addSymbol(sym)">{{ sym }}</button>
    </div>
    <button class="clear" (click)="clearInput()">C</button>
  </div>
  <button id="input__button" (click)="sendFunction()">Enviar</button>