
.calculator {
    max-width: 100%;
    margin: auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.buttons_numbers {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: inherit!important;
    color: #343A40!important;
    border: 1px solid #343A40!important;
    border-radius: 5px;
}
.buttons_numbers:hover {
    background-color: #343A40!important;
    color: var(--text-light-color)!important;
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tabs button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background: #040404;
}

.tabs .active {
    background: #0077ff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.clear {
    margin-top: 10px;
    width: 100%;
    background: red;
    color: white;
}


.input__function
{
    border: 1px solid #343A40;
    border-radius: 5px;
}
.button__x {
    background-color: inherit !important;
    color: #343A40;
    position: absolute;
    max-width: 2%;
}
.input__all {
    display: flex;
    justify-content: right;
    align-items: center;
}