<div class="container">
  <!-- Sección Izquierda -->
  <div class="left-panel">
    <h1 class="title">MathView</h1>
    <label for="functionInput">Introduce una función:</label>
    <app-calculator id="functionInput"></app-calculator>
    <div class="funciones_especiales" *ngIf="false">
      <div class="texto__especiales">
        <h3>Funciones especiales</h3>
      </div>
      <div class="buttons__redirect">
        <button (click)="redirectToVisualizationZeta()">
          Ir a Visualización Zeta
        </button>
        <button (click)="redirectToVisualizationMandelbrot()">
          Ir a Visualización Mandelbrot
        </button>
      </div>
    </div>
  </div>

  <!-- Sección Derecha -->
  <div class="right-panel">
    <div *ngIf="showMagnitude" class="plot-container">
      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>
    <div *ngIf="showPhase" class="plot-container">
      <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
    </div>
    <div class="text-container">
      <p>Esta es una representación de la función {{function}} en el plano complejo.</p>
      <div class="button-text-container">
        <a (click)="cambiaVisualizacion()" *ngIf="showMagnitude">Cambiar a visualización de la fase</a>
        <a (click)="cambiaVisualizacion()" *ngIf="showPhase">Cambiar a visualización de la magnitud</a>
      </div>
    </div>
  </div>
</div>
