<div class="container">
  <!-- Sección Izquierda -->
  <div class="left-panel">
    <h1 class="title">MathView</h1>
    <label for="functionInput">Introduce una función:</label>
    <app-calculator id="functionInput"></app-calculator>
    <div class="funciones_especiales" *ngIf="true">
      <div class="texto__especiales">
        <h3>Funciones especiales</h3>
      </div>
      <div class="buttons__redirect">
        <button (click)="redirectToVisualizationZeta()">
          Ir a Visualización Zeta
        </button>
        <button (click)="redirectToVisualizationMandelbrot()">
          Ir a Visualización Mandelbrot
        </button>
      </div>
    </div>
  </div>
  <!-- Popup de información -->
<div class="modal-overlay" *ngIf="functionInfo" (click)="functionInfo = null">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="functionInfo = null">×</button>
    <h3>Información relevante de la función</h3>
    <p><strong>Función:</strong> {{ functionInfo.expression }}</p>
    <p><strong>Polos:</strong> {{ functionInfo.poles.join(', ') || 'Ninguno' }}</p>
    <p><strong>Ceros:</strong> {{ functionInfo.zeros.join(', ') || 'Ninguno' }}</p>
    <p><strong>Notas:</strong> {{ functionInfo.notes }}</p>
    <p><strong>Representación:</strong> {{ getRepresentationDescription() }}</p>
  </div>
</div>

  <!-- Sección Derecha -->
  <div class="right-panel">
    <!-- Icono para mostrar información -->

    <div class="info-icon" (click)="loadFunctionInfo()">
      <i class="fa-solid fa-info"></i>
    </div>


    <button (click)="goToLogin()">Ir a Login</button>

    <div *ngIf="showMagnitude" class="plot-container">
      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>
    <div *ngIf="showPhase" class="plot-container">
      <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>
    </div>
    <div *ngIf="show2D" class="plot-container">
      <plotly-plot [data]="graph3.data" [layout]="graph3.layout"></plotly-plot>
    </div>
    <div class="text-container">
      <p>Esta es una representación de la función {{function}} en el plano complejo.</p>
      <div class="button-container">
        <button *ngIf="showMagnitude || show2D" (click)="cambiaVisualizacion(1)">Ver fase</button>
        <button *ngIf="showPhase || show2D" (click)="cambiaVisualizacion(2)">Ver magnitud</button>
        <button *ngIf="showPhase || showMagnitude" (click)="cambiaVisualizacion(3)">Ver en 2D</button>
      </div>
      
    </div>
  </div>
</div>
